

/* pour que le footer reste en bas sans être fixed */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*                  ************  HEADER */

/* frise */
header {
  color:rgb(44, 110, 73);
  background-image: url(images/frise/frise-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* apparence du menu de navigation */
.nav-link {
  color: rgb(44, 110, 73);
}
.nav-link:hover {
  color: rgb(254, 254, 227);
}
.nav-item.active {
  color: rgb(44, 110, 73);
  font-weight: bold;
} 
.nav-item:hover {
  background-color: hsl(120, 100%, 25%,40%);
}
/* Changement de l'apparence du bouton du menu de navigation colapsed */
.navbar-toggler {
  background-color: rgba(0, 32, 0, 0.2)!important;
} 


/* h1, h2 et nav : font-size responsive */
h1 {
  font-size: clamp(2.6rem, 2.2vw, 3.4rem);
}
h2 {
  font-size: clamp(1.2rem, 1.3vw, 2rem);
}
header nav {
  font-size: clamp(1.2rem, 1vw, 2rem);
}

/* Le sous-titre disparait pour écrans <lg  */
@media screen and (max-width:992px) {
  h2{
    display: none;
  }
}




/*                  ************  MAIN */

/* Changement de l'apparence des boutons des articles */
article .btn-success {
  background-color:rgba(44, 110, 73,0.8); 
}


/* Aside et Main-Nav disparaissent pour écrans <xl  */
@media screen and (max-width:1200px) {
  aside, main nav{
    display: none;
  }
}

/* font-size réduite pour écrans <sm  */
@media screen and (max-width:576px) {
  body{
    font-size: 0.8rem;
  }
}


/*                  ************  FOOTER */

/* apparence du footer */
footer {
  background-color: rgba(0, 32, 0, 0.8);
}
.btn-link {
  color: rgb(254, 254, 227);
}
.btn-link:hover {
  color: rgb(214, 140, 69);
}




/*  Palette de couleurs
 Vert foncé
    rgb(44, 110, 73)
  Vert clair
    rgb(76, 149, 108)
  Jaune pale
    rgb(254, 254, 227)
  orange rose
    rgb(255, 201, 185)
  brun
    rgb(214, 140, 69)
*/